{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            <label class="label" for="last_name">Veuillez indiquer le(s) asset(s) concerné(s)</label>

            {{ form_start(asset_form, {'attr': {'class': ''}}) }}

            <label class="label">Type de l'intervention</label>
            <div class="field">
                <p class="control">
                    <span class="select is-fullwidth">
                        {{ form_widget(asset_form.action, {'attr': {'class': 'select has-text-centered'}}) }}
                    </span>
                </p>
            </div>

            <label class="label">Type de matériel</label>
            <div class="field">
                <p class="control">
                    <span class="select is-fullwidth">
                        {{ form_widget(asset_form.type, {'attr': {'class': 'select has-text-centered'}}) }}
                    </span>
                </p>
            </div>

            <div class="is-flex is-justify-content-space-around">
                <label class="label">Asset sortant</label>
                <label class="label">Asset entrant</label>
            </div>
            <div class="field has-addons has-addons-centered">
                <p class="control is-expanded">
                    {{ form_widget(asset_form.ae, {'attr': {'class':'input has-text-centered', 'placeholder': 'Asset entrant'}}) }}
                </p>
                <p class="control is-expanded">
                    {{ form_widget(asset_form.as, {'attr': {'class':'input has-text-centered', 'placeholder': 'Asset sortant'}}) }}
                </p>
            </div>

            <div class="field">
                <p class="control">
                    <label class="checkbox label">
                        Rendez-vous respécté par l'utilisateur ?
                        {{ form_widget(asset_form.rspd, {'attr': {}}) }}
                    </label>
                </p>
            </div>

            <div class="field">
                <p class="control is-expanded">
                    {{ form_widget(asset_form.tpx, {'attr': {'class':'input has-text-centered', 'placeholder': 'Exemple : 90'}}) }}
                </p>
            </div>

            <div class="control">
                <button type="submit" class="button is-info is-small">
                    <i class="fas fa-plus"></i>
                </button>
            </div>

            {{ form_end(asset_form) }}

            {{ form_start(form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}

            <div class="field">

                {{ form_widget(form, {'attr': {'class': 'is-hidden'}}) }}

            </div>

            <div class="field is-grouped is-grouped-multiline">
                {% for asset in survey.assets %}
                    <div class="control">
                        <div class="tags has-addons">
                            {% if asset.newhostname %}
                                <span class="tag is-primary">{{ asset.newhostname }}</span>
                            {% endif %}
                            {% if asset.currenthostname %}
                                <span class="tag is-danger">{{ asset.currenthostname }}</span>
                            {% endif %}
                            <a class="tag is-delete" href="{{ path('del_asset', {'position': asset.position }) }}"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>


                <div class="control has-text-right">
                    <button class="button is-info is-normal">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>


            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}


