{% extends 'base.html.twig' %}

{% block title %}Hello AskUserController!{% endblock %}

{% block body %}

        <div class="column is-flex-desktop is-align-items-center" style="height: 100%">

            <div class="column is-flex is-align-items-center is-justify-content-center is-two-fifths-desktop" style="height: 50%">
                <div class="box" style="height: 100%;width: 100%">
                    Intervention : {{ type }}<br>
                    Type d'asset : {{ asset_type }}<br>
                    Hostname : {{ hostname }} <br>
                </div>
            </div>

            {{ form_start(final_string_form, {'attr' : {'class' : 'column is-flex-desktop is-align-items-center is-justify-content-center', 'style' : 'height:50%'} }) }}

            <div class="field column">
                <label class="label" for="last_name">Votre code final :</label>

                <div class="is-flex">
                    <div class="control" style="flex: 1;margin-right: 1rem;">
                        <div class="is-primary is-fullwidth">
                            {{ form_widget(final_string_form.final_string, {'attr' : {'data' : final_string }}) }}
                        </div>
                    </div>

                    <button class="button is-success">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>


            </div>


            {{ form_end(final_string_form) }}
        </div>

{% endblock %}


