{% extends 'base.html.twig' %}

{% block title %}Hello AskUserController!{% endblock %}

{% block body %}

            <div class="column is-flex is-align-items-center is-justify-content-center is-two-fifths-desktop" style="height: 50%">
                <div class="box" style="height: 100%;width: 100%">
                    Intervention : {{ type }}<br>
                    Type d'asset : {{ asset_type }}<br>
                    Hostname : {{ hostname }} <br>
                </div>
            </div>

            {{ form_start(final_string_form, {'attr' : {'class' : 'column is-flex-desktop is-align-items-center is-justify-content-center', 'style' : 'height:50%'} }) }}

            <div class="field column">
                <label class="label" for="last_name">Votre code final :</label>

                <div class="is-flex">
                    <div class="control" style="flex: 1">
                        <div class="is-info is-fullwidth">
                            {{ form_widget(final_string_form.final_string) }}
                        </div>
                    </div>
                </div>

                <div class="is-flex mt-3 is-justify-content-end">
                    <a href="#" class="button is-info" id="copy-btn">
                        <i class="fas fa-clone"></i>
                    </a>
                </div>



            </div>


            {{ form_end(final_string_form) }}



    <script>

        // console.log(textAreaContent);
        let copyBtn = document.getElementById('copy-btn');

        copyBtn.addEventListener('click', function () {
            let textArea = document.getElementById('final_string_form_final_string');
            // console.log(textArea);
            // let textAreaContent = textArea.innerHTML;
            // console.log(textAreaContent);
            textArea.select();
            textArea.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand('copy');
        })

    </script>

{% endblock %}



