{% extends 'base.html.twig' %}

{% block title %}Hello AskUserController!{% endblock %}

{% block body %}

            <div class="column is-flex is-align-items-center is-justify-content-center is-two-fifths-desktop" style="height: 50%">
                <div class="box" style="height: 100%;width: 100%">
                    Intervention : {{ type }}<br>
                    Suite à incident : {{ from_inct }} <br>
                    Type d'asset : {{ asset_type }}<br>
                    Hostname : ? <br>
                </div>
            </div>

            {{ form_start(hostname_field_form, {'attr' : {'class' : 'column is-flex-desktop is-justify-content-center is-two-fifths-desktop', 'style' : 'height:50%'} }) }}

            <div class="field column">
                <label class="label" for="last_name">Veuillez selectionner le Hostname</label>

                    <div class="control" style="flex: 1">
                        <div class="select is-info is-fullwidth">
                            {{ form_widget(hostname_field_form.newAsset) }}
                        </div>
                    </div>

                <h2 class="subtitle is-3 has-text-centered">Ou</h2>

                <label class="label" for="last_name">Renseigner manuellement le hostname</label>
                <div class="control" style="flex: 1">
                    {{ form_widget(hostname_field_form.customHostname) }}
                </div>

                <div class="is-flex is-justify-content-end">
                    <button class="button is-info mt-3">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>

            </div>


            {{ form_end(hostname_field_form) }}
        </div>

{% endblock %}


