{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">



            {{ form_start(hostname_field_form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}

            <div class="field">

                <label class="label" for="last_name">Rechercher le Hostname</label>
                <div class="control has-icons-left" style="flex: 1">
                    <div id="hostname">
                        <input class="typeahead input is-info" type="text" placeholder="Hostname" name="hostname">
                    </div>
                    <span class="icon is-left">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </span>
                </div>

                <h2 class="subtitle is-3 has-text-centered">Ou</h2>

                <label class="label" for="last_name">Renseigner manuellement le hostname</label>
                <div class="control" style="flex: 1">
                    {{ form_widget(hostname_field_form.customHostname) }}
                </div>

            </div>

            <div class="is-flex is-justify-content-start">

            </div>

            <div class="is-flex is-justify-content-space-between">

                <button class="button is-info is-small js-hostname" onclick="goBack()">
                    <i class="fas fa-chevron-left"></i>
                </button>

                <a href="{{ path('description',{from_inct : from_inct, asset_type : asset_type, intervention : intervention, new_user : new_user, hostname : 'Inconnue'} ) }}" class="button is-warning is-small">
                    <span>
                        Je ne trouve pas le hostname
                    </span>
                    <span class="icon">
                        <i class="fas fa-info-circle"></i>
                    </span>
                </a>

                <button class="button is-info is-small js-hostname">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>

            {{ form_end(hostname_field_form) }}

        </div>

    </div>


    <script>

        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        var hostnames =  [
        {% for assets in assets %}
            '{{ assets }}',
        {% endfor %}
        ];

        $('#hostname .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 0
            },
            {
                name: 'hostnames',
                limit: 100,
                source: substringMatcher(hostnames)
            });






        {#               SCRIPT POUR AJAX                   #}

        // function nextStep(event){
        //     // event.preventDefault();
        //
        //     // console.log(this);
        //     const url = this.formAction;
        //
        //     axios.get(url).then(function (response) {
        //         console.log(response);
        //     })
        // }
        //
        // let button = document.querySelectorAll('button.js-hostname').forEach(function (link){
        //     link.addEventListener('click' || 'touchstart', nextStep);
        // });


    </script>

{% endblock %}


