{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            <label class="label" for="last_name">Intervention sur autre(s) matériel(s)</label>

            {{ form_start(other_asset_form, {'attr': {'class': 'ajax-add-asset'}}) }}

            <label class="label">Type de l'intervention</label>
            <div class="field">
                <p class="control">
                    <span class="select is-fullwidth">
                        {{ form_widget(other_asset_form.action, {'attr': {'class': 'select has-text-centered js-on-change'}}) }}
                    </span>
                </p>
            </div>

            <label class="label">Type de poste</label>
            <div class="field">
                <p class="control">
                    <span class="select is-fullwidth">
                        {{ form_widget(other_asset_form.type, {'attr': {'class': 'select has-text-centered js-on-change'}}) }}
                    </span>
                </p>
            </div>

            <div class="is-hidden dynamic-field mb-4" id="assets-field">
                <div class="is-flex is-justify-content-space-around">
                    <label class="label">Asset entrant</label>
                    <label class="label">Asset sortant</label>
                </div>
                <div class="field has-addons has-addons-centered">
                    <p class="control is-expanded">
                        {{ form_widget(other_asset_form.ae, {'disabled':'true', 'attr': {'class':'input has-text-centered', 'placeholder': 'Asset entrant'}}) }}
                    </p>
                    <p class="control is-expanded">
                        {{ form_widget(other_asset_form.as, {'disabled':'true', 'attr': {'class':'input has-text-centered', 'placeholder': 'Asset sortant'}}) }}
                    </p>
                </div>
            </div>

            <div class="is-hidden dynamic-field mb-4" id="rspd-field">
                <div class="field">
                    <p class="control">
                        <label class="checkbox label">
                            Rendez-vous respécté par l'utilisateur ?
                        </label>
                            {% for child in other_asset_form.rspd %}
                                <label class="radio">
                                    {{ form_widget(child, {'attr': {'class': ''} } ) }}
                                    {{ child.vars.label }}
                                </label>
                            {% endfor %}

                    </p>
                </div>
            </div>

            <div class="is-hidden dynamic-field mb-4" id="tpx-field">
                <label class="label">Durée de l'opération (facultatif)</label>
                <div class="field has-addons is-justify-content-center">
                    <p class="control">
                        {{ form_widget(other_asset_form.tpx, {'attr': {'class':'input has-text-centered', 'placeholder': 'Exemple : 30'}}) }}
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            Min
                        </a>
                    </p>
                </div>
            </div>

            <div class="control">
                <button type="submit" class="button is-info is-small" id="asset-btn-form">
                    <span>Ajouter l'action</span>
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>

            {{ form_end(other_asset_form) }}

            {{ form_start(form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}

            <div class="field">

                {{ form_widget(form, {'attr': {'class': 'is-hidden'}}) }}

            </div>

            <div class="field is-grouped is-grouped-multiline" id="asset-tags-grouped">
                {% for asset in survey.otherassets %}
                    <div class="control">
                        <div class="tags has-addons">
                            {% if asset.type and asset.action %}
                                <span class="tag is-light">{{ asset.action }}_{{ asset.type }}</span>
                            {% elseif asset.action %}
                                <span class="tag is-light">{{ asset.action }}</span>
                            {% elseif asset.type %}
                                <span class="tag is-light">{{ asset.type }}</span>
                            {% endif %}

                            {% if asset.newhostname != 'N/A' %}
                                <span class="tag is-primary">{{ asset.newhostname }}</span>
                            {% endif %}
                            {% if asset.currenthostname != 'N/A' %}
                                <span class="tag is-danger">{{ asset.currenthostname }}</span>
                            {% endif %}
                            <a class="tag is-delete ajax-remove-asset" href="{{ path('form_other_asset_del', {'position': asset.position }) }}" title="Retiré cette action"></a>
                        </div>
                    </div>
                {% endfor %}
            </div>


                <div class="control has-text-right">
                    <button class="button is-info is-normal">
                        <span>
                            Suivant
                        </span>
                        <span class="icon">
                            <i class="fas fa-chevron-right"></i>
                        </span>
                    </button>
                </div>


            {{ form_end(form) }}

        </div>

    </div>




    {#    JS POUR FORMULAIRE DYNAMIQUE    #}
    <script>

        let input = document.querySelectorAll(".js-on-change");
        let dynamicFields = document.querySelectorAll(".dynamic-field");
        let fieldAssets = document.getElementById('assets-field');
        let asset_ae = document.getElementById('other_asset_ae');
        // let fieldAs = document.getElementById('as-field');
        let asset_as = document.getElementById('other_asset_as');
        let fieldTpx = document.getElementById('tpx-field');
        let fieldRsdp = document.getElementById('rspd-field');

        input.forEach(element => element.addEventListener('input', updateValue) );

        window.onload = function(){
            updateValue();
        } ;

        function updateValue() {
            let valueString = [];
            input.forEach(element => valueString.push(element.value));
            initializeAssetsForm();
            if ( !(valueString.every((currentValue) => currentValue === '')) ) {
                document.getElementById('asset-btn-form').style.visibility = 'visible';
            }
            console.log(valueString);
            if (valueString.includes('DEM_PDT') || valueString.includes('NDO') ){
                console.log('DEM_PDT ou NDO');
                makeVisible(fieldAssets);
                makeVisible(fieldRsdp);
                makeVisible(fieldTpx);
                removeClass(asset_ae, 'disabled');
                removeSelectOption(document.getElementById('other_asset_type'), ['PRP','TNR','PMA']);
            }else if (valueString.includes('REP_PDT')) {
                console.log('REP_PDT seul');
                makeVisible(fieldAssets);
                makeVisible(fieldRsdp);
                makeVisible(fieldTpx);
                removeClass(asset_as, 'disabled');
            }else if (valueString.includes('PRT') || valueString.includes('REN')) {
                console.log('PRT ou REN');
                makeVisible(fieldAssets);
                makeVisible(fieldRsdp);
                makeVisible(fieldTpx);
                removeClass(asset_ae, 'disabled');
                removeSelectOption(document.getElementById('other_asset_type'), ['PRP','PRT','TNR','PMA','TRD']);
            }else if (valueString.includes('REP')) {
                console.log('REP SEUL');
                removeSelectOption(document.getElementById('other_asset_type'), ['PRT','TNR','PMA']);
            }
        }




        function removeSelectOption(selectObject, valueOptionToDelete) {
            let options = selectObject.querySelectorAll('option');
            options.forEach(function (element) {
                let valueOption = element.value;
                if (valueOptionToDelete.includes(valueOption)){
                    element.style.display = "none";
                }
            });
        }


        function removeClass(htmlObject, className){
            htmlObject.attributes.removeNamedItem(className);
        }

        function initializeAssetsForm() {
            hiddeAllFields();
            asset_ae.setAttribute('disabled', true);
            asset_ae.value = null;
            asset_as.setAttribute('disabled', true);
            asset_as.value = null;
            document.getElementById('asset-btn-form').style.visibility = 'hidden';
            input.forEach(function (element) {
                element.querySelectorAll('option').forEach(option => option.style.display = 'block')
            })
        }
        function hiddeAllFields() {
            dynamicFields.forEach(element => element.classList.add('is-hidden') );
        }
        function makeVisible(element) {
            element.classList.remove('is-hidden')
        }

    </script>

{% endblock %}


