{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

        <div class="column is-flex is-align-items-center is-justify-content-center  is-two-thirds-desktop is-two-fifths-widescreen">
            <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">
                <div class="column">
                    Veuillez selectionner votre service
                </div>

                <div class="is-flex is-justify-content-center is-align-items-end">

                    {{ form_start(form) }}
                    {{ form_widget(form.service , {'attr': {'class':'select'}}) }}
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link" formmethod="post">Submit</button>
                        </div>
                    </div>
                    {{ form_end(form) }}

{#                    {{ form_start(form, {'action': path('q1'), 'method': 'POST'}) }}#}
{#                        {{ form_widget(form.service , {'attr': {'class':'select'}}) }}#}
{#                    <div class="field is-grouped">#}
{#                        <div class="control">#}
{#                            <button type="submit" class="button is-link" formmethod="post">Submit</button>#}
{#                        </div>#}
{#                    </div>#}
{#                    {{ form_end(form) }}#}

{#                    <a href="{{ path('q1', {'service': 'sdp'}) }}" class="button is-info">#}
{#                        <span>#}
{#                            Support de proximité [SDP]#}
{#                        </span>#}
{#                        <span class="icon">#}
{#                            <i class="fas fa-chevron-right"></i>#}
{#                        </span>#}
{#                    </a>#}

{#                    <a href="{{ path('q1', {'service': 'hd'}) }}" class="button is-info">#}
{#                        <span>#}
{#                            Help Desk [HD]#}
{#                        </span>#}
{#                        <span class="icon">#}
{#                            <i class="fas fa-chevron-right"></i>#}
{#                        </span>#}
{#                    </a>#}

                </div>

            </div>

        </div>

{% endblock %}


