{% extends 'base.html.twig' %}

{% block title %}Arbre de clôture v1.9 | Connexion{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="label has-text-centered">Veuillez entrer vos identifiants</div>

    <div class="field">
        <p class="control has-icons-left has-icons-right">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="input" placeholder="Email">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </p>
    </div>

    <div class="field">
        <p class="control has-icons-left">
            <input type="password" name="password" id="inputPassword" class="input" placeholder="Mot de passe">
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
        </p>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="field">
        <p class="control">
            <button class="button is-info" type="submit">
                Se connecter
            </button>
        </p>
    </div>

</form>
{% endblock %}
