{% extends 'base.html.twig' %}

{#{% block title %}écupération de mot de passe{% endblock %}#}

{% block body %}

        <div class="columns is-flex has-text-centered is-centered">
            <div class="column">

                <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

                    <h1 class="title">Modification de votre mot de passe</h1>
                    {{ form_start(reset_form) }}
                    <div class="field">
                        <label class="label">Entrez votre nouveau mot de passe</label>
                        <div class="control">
                            {{ form_widget(reset_form.plainPassword.first, {'attr' : {'placeholder' : 'Entrez le Mot de passe', 'class' : 'input', 'alt' : 'password'}
                            }) }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Validez votre nouveau mot de passe</label>
                        <div class="control">
                            {{ form_widget(reset_form.plainPassword.second, {'attr' : {'placeholder' : 'Répétez votre mot de passe', 'class' : 'input', 'alt' : 'confirm password'}
                            }) }}
                        </div>
                    </div>

                    {% if form_errors(reset_form) != null %}
                        <div class="notification is-danger">
                            <button class="delete" onclick="this.parentElement.parentElement.removeChild(this.parentElement);"></button>
                            {{ form_errors(reset_form) }}
                        </div>
                    {% endif %}

                    {% include 'includes/flash_message.html.twig' %}

                    <button type="submit" class="button is-info-custom is-small">
                        <span class="icon">
                            <i class="fas fa-check"></i>
                        </span>
                        <span>
                            Valider
                        </span>
                    </button>

                    {{ form_end(reset_form) }}

                </div>

            </div>
        </div>


{% endblock %}
