{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {{ include('includes/nav_indicator.html.twig') }}
            {% if survey.cas == 'SDP_DEM_1' or survey.cas == 'HD_DEM_1' %}
                <label class=" title is-size-4-desktop">
                    Avez-vous installé des softs / applications ?
                    <p class="help is-info has-text-weight-normal">
                          <span class="icon">
                              <i class="fas fa-info-circle"></i>
                          </span>
                        Si non cliquez sur suivant...
                    </p>
                </label>
            {% elseif survey.cas == 'SDP_INC_1' %}
                <label class=" title is-size-4-desktop">
                    Êtes-vous intervenue pour des softs / applications ?
                    <p class="help is-info has-text-weight-normal">
                          <span class="icon">
                              <i class="fas fa-info-circle"></i>
                          </span>
                        Si non cliquez sur suivant...
                    </p>
                </label>
            {% else %}
                <label class=" title is-size-4-desktop">Softs & Applications</label>
            {% endif %}

            {{ form_start(app_form, {'attr': {'class': 'ajax-add-asset'}}) }}

            <div class="field has-text-left">
                <label class="checkbox">
                    {{ form_widget(app_form.multiple, {'attr': {'class': 'multiple', 'onclick':'setMultiple(this)'}}) }}
                    Cochez pour en ajouter plusieurs
                </label>
            </div>

            <label class="label">Veuillez préciser la méthode d'intervention</label>

            <div class="field">
                <p class="control">
                    <span class="select is-fullwidth">
                        {{ form_widget(app_form.action, {'attr': {'class': 'select has-text-centered js-on-change required-for-add'}}) }}
                    </span>
                </p>
            </div>

            <div class="is-hidden dynamic-field mb-4" id="assets-field">

                <div class="is-flex is-justify-content-space-around">
                    <label class="label">Veuillez indiquer le nom de l'Asset concerné</label>
                </div>

                <div class="field has-addons has-addons-centered">
                    <p class="control is-expanded">
                        {{ form_widget(app_form.asset, {'disabled':'true', 'attr': {'class':'input has-text-centered', 'placeholder': 'Hostname'}}) }}
                    </p>
                </div>

                {{ include('includes/unknow_hostname.html.twig') }}

            </div>


            <div class="is-hidden hidden-forced dynamic-field mb-4" id="rsdp-field">
                <div class="field">
                    <p class="control">
                        <label class="checkbox label">
                            Si l'opération a été déroulée sur place, aurait-elle pu être faite à distance ?
                        </label>

                        <div class="column is-flex is-justify-content-space-evenly">
                            {% for child in app_form.rsdp %}
                                <label class="radio">
                                    {{ form_widget(child) }}
                                    {{ child.vars.label }}
                                </label>
                            {% endfor %}
                        </div>

                    </p>
                </div>
            </div>

            <div class="is-hidden dynamic-field mb-4" id="tpx-field">
                <label class="label">Durée de l'opération</label>
                <div class="field has-addons is-justify-content-center">
                    <p class="control">
                        {{ form_widget(app_form.tpx, {'attr': {'class':'input has-text-centered tpx', 'placeholder': 'Exemple : 30'}}) }}
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            Min
                        </a>
                    </p>
                </div>
            </div>

            {{ include('includes/nav/nav_for_only_one.html.twig') }}

            <div class="control is-hidden nav-for-multiple">
                <button type="submit" class="button is-info is-small add-btn-form" id="add-btn-form">
                    <span>Ajouter</span>
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>

            {{ form_end(app_form) }}

            {{ form_start(form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}

            <div class="field">

{#                {{ form_widget(form.asset, {'attr': {'class': 'is-hidden'}}) }}#}

            </div>

            <div class="nav-for-multiple is-hidden field">
                {{ include('includes/nav/prev_next.html.twig') }}
            </div>

            {{ include('includes/del_objects_section.html.twig') }}

            {{ form_end(form) }}

        </div>

    </div>




    {#    JS POUR FORMULAIRE DYNAMIQUE    #}
    <script>

        let input = document.querySelectorAll(".js-on-change");
        let dynamicFields = document.querySelectorAll(".dynamic-field");
        let fieldAssets = document.getElementById('assets-field');
        let app_asset = document.getElementById('app_asset');
        let fieldTpx = document.getElementById('tpx-field');
        let fieldRsdp = document.getElementById('rsdp-field');

        input.forEach(element => element.addEventListener('input', updateValue) );

        function updateValue() {
            let values = [];
            input.forEach(element => values.push(element.value));
            initializeAssetsForm();

            requiredForAdd.forEach(function (element) {
                if (element.value){
                    removeAttributes(app_asset, 'disabled');
                    removeAttributes(fieldRsdp.querySelector('input'), 'required');
                    addAttributes(app_asset, 'required', true);
                    makeVisible(fieldAssets);
                    makeVisible(fieldTpx);
                    addAttributes(fieldTpx.querySelector('.tpx'), 'required', true);
                    let condition1 = ['SFW_LOC','SFW_TLK'];
                    if (condition1.some( el => values.includes(el) ) ){
                        makeVisible(fieldRsdp);
                        addAttributes(fieldRsdp.querySelector('input'), 'required', true);
                    }
                }else {
                    removeAttributes(app_asset, 'required');
                }
            });

            setUnknowHostname();
        }




        function removeSelectOption(selectObject, valueOptionToDelete) {
            let options = selectObject.querySelectorAll('option');
            options.forEach(function (element) {
                let valueOption = element.value;
                if (valueOptionToDelete.includes(valueOption)){
                    element.style.display = "none";
                    element.selected = false;
                }
            });
        }
        function hideAddBtn() {
            document.querySelectorAll('select.required-for-add').forEach(function (element) {
                let firstOption = element.firstElementChild;
                if (!firstOption.selected){
                    document.getElementById('asset-btn-form').style.visibility = 'visible';
                }
            });
        }

        function initializeAssetsForm() {
            hiddeAllFields();
            app_asset.setAttribute('disabled', true);
            app_asset.value = null;
            removeAttributes(fieldTpx.querySelector('.tpx'), 'required');
            // document.getElementById('asset-btn-form').style.visibility = 'hidden';
            input.forEach(function (element) {
                element.querySelectorAll('option').forEach(option => option.style.display = 'block')
            })
        }
        function hiddeAllFields() {
            dynamicFields.forEach(element => element.classList.add('is-hidden') );
        }

    </script>

{% endblock %}


