{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {{ include('includes/nav_indicator.html.twig') }}
            <h1 class="title is-size-3-desktop">Poste(s) de travail</h1>

            {{ form_start(asset_form, {'attr': {'class': 'ajax-add-asset'}}) }}

            <div class="field has-text-left">
                <label class="checkbox">
                    {{ form_widget(asset_form.multiple, {'attr': {'class': 'multiple', 'onclick':'setMultiple(this)'}}) }}
                    Plusieur à ajouter ?
                </label>
            </div>

            <label class="label">Veuillez selectionner l'intervention</label>
            <div class="field">
                <p class="control">
                    <span class="select is-fullwidth">
                        {{ form_widget(asset_form.action, {'attr': {'class': 'select has-text-centered js-on-change for-ajax required-for-add'}}) }}
                    </span>
                </p>
            </div>

            <label class="label">Veuillez selectionner le type de poste</label>
            <div class="field">
                <p class="control">
                    <span class="select is-fullwidth">
                        {{ form_widget(asset_form.type, {'attr': {'class': 'select has-text-centered js-on-change for-ajax'}}) }}
                    </span>
                </p>
            </div>

            <div class="is-hidden dynamic-field mb-4" id="assets-field">
                <div class="is-flex is-justify-content-space-around">
                    <label class="label">Nouvel asset</label>
                    <label class="label">Ancien asset</label>
                </div>
                <div class="field has-addons has-addons-centered">
                    <p class="control is-expanded">
                        {{ form_widget(asset_form.ae, {'disabled':'true', 'attr': {'class':'input has-text-centered for-ajax', 'placeholder': 'Asset entrant'}}) }}
                    </p>
                    <p class="control is-expanded">
                        {{ form_widget(asset_form.as, {'disabled':'true', 'attr': {'class':'input has-text-centered for-ajax', 'placeholder': 'Asset sortant'}}) }}
                    </p>
                </div>
            </div>

            <div class="is-hidden hidden-forced dynamic-field mb-4 hidden-forced" id="rsdp-field">
                <div class="field">
                    <p class="control">
                        <label class="checkbox label">
                            Rendez-vous respécté par l'utilisateur ?
                        </label>
                            {% for child in asset_form.rsdp %}
                                <label class="radio">
                                    {{ form_widget(child) }}
                                    {{ child.vars.label }}
                                </label>
                            {% endfor %}

                    </p>
                </div>
            </div>

            <div class="is-hidden dynamic-field mb-4" id="tpx-field">
                <label class="label">Durée de l'opération</label>
                <div class="field has-addons is-justify-content-center">
                    <p class="control">
                        {{ form_widget(asset_form.tpx, {'attr': {'class':'input has-text-centered tpx', 'placeholder': 'Exemple : 30'}}) }}
                    </p>
                    <p class="control">
                        <a class="button is-static">
                            Min
                        </a>
                    </p>
                </div>
            </div>

            {{ include('includes/nav/nav_for_only_one.html.twig') }}

            <div class="control is-hidden nav-for-multiple">
                <button type="submit" class="button is-info is-small add-btn-form" id="add-btn-form">
                    <span>Ajouter</span>
                    <span class="icon">
                        <i class="fas fa-plus"></i>
                    </span>
                </button>
            </div>

            {{ form_end(asset_form) }}

            {{ form_start(form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}

            <div class="field">

                {{ form_widget(form.asset, {'attr': {'class': 'is-hidden'}}) }}

            </div>

            <div class="nav-for-multiple is-hidden field">
                {{ include('includes/nav/prev_next.html.twig') }}
            </div>

            {{ include('includes/del_objects_section.html.twig') }}

            {{ form_end(form) }}

        </div>

    </div>




    {#    JS POUR FORMULAIRE DYNAMIQUE    #}
    <script>

        let input = document.querySelectorAll(".js-on-change");
        let dynamicFields = document.querySelectorAll(".dynamic-field");
        let fieldAssets = document.getElementById('assets-field');
        let asset_ae = document.getElementById('asset_ae');
        let asset_as = document.getElementById('asset_as');
        let fieldTpx = document.getElementById('tpx-field');
        let fieldRsdp = document.getElementById('rsdp-field');

        input.forEach(element => element.addEventListener('input', updateValue) );

        // window.onload = function(){
        //     updateValue();
        // } ;

        function updateValue(e) {
            let values = [];
            input.forEach(element => values.push(element.value));
            initializeAssetsForm();
            // hideAddBtn();
            if (values.includes('DEM') || values.includes('PRT') || values.includes('NDO') ){
                makeVisible(fieldAssets);
                makeVisible(fieldRsdp);
                makeVisible(fieldTpx);
                console.log(fieldTpx);
                addAttributes(fieldTpx.querySelector('.tpx'), 'required', true);
                removeAttributes(asset_ae, 'disabled');
            }else if (values.includes('REP')) {
                makeVisible(fieldAssets);
                makeVisible(fieldRsdp);
                makeVisible(fieldTpx);
                console.log(fieldTpx);
                addAttributes(fieldTpx.querySelector('.tpx'), 'required', true);
                removeAttributes(asset_as, 'disabled');
            }else if (values.includes('REN')) {
                makeVisible(fieldAssets);
                makeVisible(fieldRsdp);
                makeVisible(fieldTpx);
                console.log(fieldTpx);
                addAttributes(fieldTpx.querySelector('.tpx'), 'required', true);
                removeAttributes(asset_ae, 'disabled');
                removeAttributes(asset_as, 'disabled');
            }
        }




        function hideAddBtn() {
            document.querySelectorAll('select.required-for-add').forEach(function (element) {
                let firstOption = element.firstElementChild;
                if (!firstOption.selected){
                    // document.getElementById('add-btn-form').style.visibility = 'visible';
                    let addBtn = document.getElementsByClassName('add-btn-form');
                    addBtn.forEach(function (element) {
                        element.style.visibility = 'visible';
                    })
                }
            });
        }

        function initializeAssetsForm() {
            hideAllFields();
            asset_ae.setAttribute('disabled', true);
            asset_ae.value = null;
            asset_as.setAttribute('disabled', true);
            asset_as.value = null;
            removeAttributes(fieldTpx.querySelector('.tpx'), 'required');
            // document.getElementById('add-btn-form').style.visibility = 'hidden';
        }
        function hideAllFields() {
            dynamicFields.forEach(element => element.classList.add('is-hidden') );
        }

    </script>

{% endblock %}


