{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {{ include('includes/nav_indicator.html.twig') }}
            <h1 class="title is-size-3-desktop">Commentaire(s)</h1>

            {{ form_start(commentaire_form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}
            <div class="field">
                <label class="label" for="last_name">Ajouter des commentaire(s) si besoin :</label>

                <div class="is-flex">
                    <div class="control" style="flex: 1">
                        <div class="is-info is-fullwidth">
                            {{ form_widget(commentaire_form.commentaire, {'attr' : {'class' : 'textarea', 'placeholder' : 'Entrez les détailles de l\'intervention ici...'}, 'rows' : '7' }) }}
                        </div>
                    </div>
                </div>

            </div>

            <div class="field">
                {{ include('includes/nav/prev_next.html.twig') }}
            </div>

            {{ include('includes/del_objects_section.html.twig') }}

            {{ form_end(commentaire_form) }}

        </div>

    </div>





    <script>

        let copyBtn = document.getElementById('copy-btn');

        function CopyToClipboard(containerid) {
            let textArea = document.getElementById(containerid);
            textArea.select();
            textArea.setSelectionRange(0, 99999); /* For mobile devices */
            document.execCommand('copy');
        }

    </script>

{% endblock %}



