{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-four-fifths-desktop is-three-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {{ include('includes/nav_indicator.html.twig') }}
            <h1 class="title is-size-3-desktop">Rendez-vous(s)</h1>

            {{ form_start(rdv_form, {'attr' : {'class' : 'is-fullheight-percent is-flex is-justify-content-space-between is-flex-direction-column'} }) }}
            <div class="field">
                <label class="label" for="last_name">
                    Un rendez-vous a-t-il fait l'objet de l'intervention ?
                </label>

                <div class="field">

                    <div class="control is-flex">
                        {% for child in rdv_form.rdv %}
                            {% if child.vars.label == 'Oui' %}
                                <label class="column" onclick="checkRadio(this);rdvYesSelected()">
                                    <a href="#" class="button is-fullwidth is-dark is-outlined">
                                        <span class="icon">
                                            <i class="fas fa-calendar-check"></i>
                                        </span>
                                        <span>
                                            {{ child.vars.label }}
                                            {{ form_widget(child, {'attr': {'class': 'radio-select is-hidden'} } ) }}
                                        </span>
                                    </a>
                                </label>
                            {% elseif child.vars.label == 'Non' %}
                                <label style="position: relative" class="column help-pointer-hover" data-tooltip="Aucun rendez-vous plannifiés ? Passez à l'étape suivante" onclick="checkRadio(this);rdvNoSelected()">
                                    <button type="submit" class="button is-fullwidth is-dark is-outlined">
                                        <span class="icon">
                                            <i class="fas fa-calendar-times"></i>
                                        </span>
                                        <span>
                                            {{ child.vars.label }}
                                            {{ form_widget(child, {'attr': {'class': 'radio-select is-hidden'} } ) }}
                                        </span>
                                        <span class="icon">
                                            <i class="fas fa-chevron-right"></i>
                                        </span>
                                    </button>
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>

                <div class="field is-hidden rdv-field">
                    <label class="label">
                        Si oui, veuillez selectionner un des cas ci-dessous :
                    </label>
                    <div class="control select">
                        {{ form_widget(rdv_form.balise, {'attr': {'class': 'has-text-centered'} } ) }}
                    </div>
                </div>

                <div class="dynamic-field mb-4 {% if survey.resolvemethod == 'PMAD' or survey.service == 'HD' %}hidden-forced{% endif %}" id="rsdp-field">
                    <div class="field">
                        <p class="control">
                            <label class="checkbox label">
                                Si l'opération a été déroulée sur place, aurait-elle pu être faite à distance ?
                            </label>

                        <div class="column is-flex is-justify-content-space-evenly">
                            {% for child in rdv_form.rsdp %}
                                <label class="radio">
                                    {{ form_widget(child) }}
                                    {{ child.vars.label }}
                                </label>
                            {% endfor %}
                        </div>

                        </p>
                    </div>
                </div>

            </div>

            <div class="field is-hidden rdv-field">
                {{ include('includes/nav/prev_next.html.twig') }}
            </div>
            <div class="field" id="prevOnly">
                {{ include('includes/nav/prev_only.html.twig') }}
            </div>

            {{ include('includes/del_objects_section.html.twig') }}

            {{ form_end(rdv_form) }}

        </div>

    </div>





    <script>

        let rdvField = document.querySelectorAll('.rdv-field');
        let prevOnly = document.getElementById('prevOnly');

        function rdvYesSelected() {
            prevOnly.classList.add('is-hidden');
            rdvField.forEach(function (el) {
               el.classList.remove('is-hidden');
               var select = el.querySelector('select');
               if (select){
                   select.selectedIndex = 0;
               }
            });
        }
        function rdvNoSelected() {
            prevOnly.classList.remove('is-hidden');
            rdvField.forEach(function (el) {
                el.classList.add('is-hidden');
                var select = el.querySelector('select');
                if (select){
                    select.value = '';
                }
            });
        }

    </script>

{% endblock %}



