{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {% if form_name == 'type_form' %}
                <h1 class="title is-size-1-desktop">Type d'intervention</h1>
            {% else %}
                {{ include('includes/nav_indicator.html.twig') }}
                <h1 class="title is-size-3-desktop">Type d'intervention<span class="is-size-5">(2)</span></h1>
            {% endif %}

            <div class="field">
            {% if form_name == 'type_form' %}
                <label class="label">S'agit-il d'une demande ou d'un incident ?</label>
            {% elseif form_name == 'type_inter_taskt_form' %}
                <label class="label">Veuillez précicer la nature de la demande</label>
            {% elseif form_name == 'type_inter_inct_form' %}
                <label class="label">Veuillez précicer la nature de l'intervention</label>
            {% endif %}
            </div>

            <div class="">

                {{ form_start(form, {'attr': {'class':'column'}}) }}

                {% if form_name == 'type_inter_taskt_form' %}
                    <div class="field">
                        <div class="control">
                            {{ form_widget(form, {'attr': {'class': 'select'} } ) }}
                        </div>
                    </div>

                {% else %}
                    <div class="control">
                        {% for child in form.type %}
                            <label class="column" onclick="checkRadio(this)">
                                <button class="button">
                                    {{ child.vars.label }}
                                    {{ form_widget(child, {'attr': {'class': 'radio-select is-hidden'} } ) }}
                                </button>

                            </label>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if form_name == 'type_inter_taskt_form' %}
                    {{ include('includes/nav/prev_next.html.twig') }}
                {% else %}
                    {{ include('includes/nav/prev_only.html.twig') }}
                {% endif %}
                {{ form_end(form) }}


            </div>

        </div>

    </div>

{% endblock %}


