{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {% if form_name == 'type_form' %}
                {{ include('includes/nav_indicator.html.twig') }}
                <h1 class="title is-size-1-desktop">Type d'intervention</h1>
            {% else %}
                {{ include('includes/nav_indicator.html.twig') }}
                <h1 class="title is-size-3-desktop">Type d'intervention<span class="is-size-5">(2)</span></h1>
            {% endif %}

            <div class="field">
            {% if form_name == 'type_form' %}
                <label class="label">S'agit-il d'une demande ou d'un incident ?</label>
            {% elseif form_name == 'type_inter_taskt_form' %}
                <label class="label">Veuillez précicer la nature de la demande</label>
            {% elseif form_name == 'type_inter_inct_form' %}
{#                <label class="label">Veuillez précicer la nature de l'intervention</label>#}
                <label class="label">Avez-vous procédé à un changement de poste ?</label>
            {% endif %}
            </div>

            <div class="">

                {{ form_start(form, {'attr': {'class':'column'}}) }}

                {% if form_name == 'type_inter_taskt_form' %}
                    <div class="field">
                        <div class="control">
                            {{ form_widget(form, {'attr': {'class': 'select is-fullwidth'} } ) }}
                        </div>
                    </div>
                {% elseif form_name == 'type_form' %}
                    <div class="control is-flex-desktop">
                        {% for child in form.type %}
                            <label class="column" onclick="checkRadio(this)">
                                <button class="button is-fullwidth is-dark is-outlined">
                                    {% if child.vars.value == 'INC' %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-tools"></i>
                                        </span>
                                    {% elseif child.vars.value == 'DEM' %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-tasks"></i>
                                        </span>
                                    {% endif %}
                                    {{ child.vars.label }}
                                    {{ form_widget(child, {'attr': {'class': 'radio-select is-hidden'} } ) }}
                                </button>
                            </label>
                        {% endfor %}
                    </div>
                {% elseif form_name == 'type_inter_inct_form' %}
                    <div class="control is-flex-desktop">
                        <label class="column">
                            <a href="{{ path('rdv') }}" class="button is-fullwidth is-dark is-outlined">
                                <span class="icon is-small">
                                    <i class="far fa-lg fa-times-circle"></i>
                                </span>
                                <span>
                                   Non
                                </span>
                            </a>
                        </label>
                        {% for child in form.type %}
                            <label class="column {% if ((child.vars.value == 2) or (child.vars.value == 3)) %}is-hidden{% endif %}" onclick="checkRadio(this)">
                                <button class="button is-fullwidth is-dark is-outlined">
{#                                    {% if child.vars.value == 1 %}#}
{#                                        <span class="icon is-small">#}
{#                                            <i class="fas fa-lg fa-laptop"></i>#}
{#                                        </span>#}
{#                                    {% elseif child.vars.value == 2 %}#}
{#                                        <span class="icon is-small">#}
{#                                            <i class="fas fa-lg fa-desktop"></i>#}
{#                                        </span>#}
{#                                    {% elseif child.vars.value == 3 %}#}
{#                                        <span class="icon is-small">#}
{#                                            <i class="fab fa-lg fa-microsoft"></i>#}
{#                                        </span>#}
{#                                    {% endif %}#}
{#                                    {{ child.vars.label }}#}
                                    <span class="icon is-small">
                                        <i class="fas fa-lg fa-exchange-alt"></i>
                                    </span>
                                    Oui
                                    {{ form_widget(child, {'attr': {'class': 'radio-select is-hidden'} } ) }}
                                </button>
                            </label>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if form_name == 'type_inter_taskt_form' %}
                    {{ include('includes/nav/prev_next.html.twig') }}
                {% else %}
                    {{ include('includes/nav/prev_only.html.twig') }}
                {% endif %}
                {{ form_end(form) }}


            </div>

        </div>

    </div>

{% endblock %}


