{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            <div class="field">
            {% if form_name == 'type_form' %}
                <label class="label">S'agit-il d'une demande ou d'un incident ?</label>
            {% elseif form_name == 'type_inter_taskt_form' %}
                <label class="label">Veuillez préciser la nature de la demande</label>
            {% elseif form_name == 'type_inter_inct_form' %}
                <label class="label">Veuillez préciser la nature de l'incident</label>
            {% endif %}
            </div>

            <div class="">

                {{ form_start(form, {'attr': {'class':'column'}}) }}

                {% if form_name == 'type_inter_taskt_form' %}
                    <div class="field is-grouped">
                        <div class="control">
                            {{ form_widget(form, {'attr': {'class': 'select'} } ) }}
                        </div>
                        <div class="control">
                            <button class="button is-info is-normal">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>

                {% else %}
                    <div class="control">
                        {% for child in form.type %}
                            <label class="radio column" onclick="checkRadio(this)">
                                <button class="button">
                                    {{ child.vars.label }}
                                    {{ form_widget(child, {'attr': {'class': 'radio-select is-hidden'} } ) }}
                                </button>

                            </label>
                        {% endfor %}
                    </div>
                {% endif %}

                {{ form_end(form) }}

                {{ include('includes/nav/prev_only.html.twig') }}

            </div>

        </div>

    </div>

{% endblock %}


