{% extends 'base.html.twig' %}

{#{% block title %}Hello AskUserController!{% endblock %}#}

{% block body %}

    <div class="column is-flex is-align-items-center is-justify-content-center is-two-thirds-desktop is-two-fifths-widescreen">
        <div class="box is-flex is-flex-direction-column has-text-centered" style="height: 100%;width: 100%">

            {{ form_start(form) }}
                <div class="field">
                    <label class="label" for="from_inct_form_from_inct">La demande fait-elle suite à un incident ?</label>

                            <div class="control">
                                {% set i = 0 %}
                                {% for child in form.from_inct %}
                                    {% set i = i+1 %}
                                <label class="radio" for="{{ child.vars.id }}">
                                    {% if i == 1 %}
                                        {{- form_widget(child, {'attr' : {'checked' : 'true'} }) -}}
                                    {% else %}
                                        {{- form_widget(child) -}}
                                    {% endif %}
                                    {{ child.vars.label }}
                                </label>
                                {% endfor %}

                            </div>

                </div>

                <div class="is-flex is-justify-content-space-between">

                    <a href="{{ path('home') }}" class="button is-info is-small js-hostname">
                        <i class="fas fa-chevron-left"></i>
                    </a>

                    <button class="button is-info is-small">
                        <i class="fas fa-chevron-right"></i>
                    </button>

                </div>
            {{ form_end(form) }}

        </div>

    </div>

{% endblock %}


