<div class="field is-fullwidth has-text-left">
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-tags"></i>
        </span>
        <span>Balises ajoutées : </span>
    </div>
</div>

<div class="field is-grouped is-grouped-multiline" id="asset-tags-grouped">
        {% for object in survey.assets %}
            <div class="control">
                <div class="tags has-addons">
                    {% if object.type and object.action %}
                        <span class="tag is-dark">{{ object.action }}_{{ object.type }}</span>
                    {% elseif object.action %}
                        <span class="tag is-dark">{{ object.action }}</span>
                    {% elseif object.type %}
                        <span class="tag is-dark">{{ object.type }}</span>
                    {% endif %}

                    {% if (object.ae != null) and (object.ae != "XX") %}
                        <span class="icon-text tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">
                            <span class="icon is-small">
                                <i class="fas fa-plus-square"></i>
                            </span>
                            <span>{{ object.ae }}</span>
                        </span>
                    {% endif %}
                    {% if (object.as != null) and (object.as != "XX") %}
                        <span class="icon-text tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">
                            <span class="icon is-small">
                                <i class="fas fa-minus-square"></i>
                            </span>
                            <span>{{ object.as }}</span>
                        </span>
                    {% endif %}
                    <a class="tag is-delete ajax-remove-asset" href="{{ path('asset_del', {'position': object.position }) }}" title="Retiré cette action"></a>
                </div>
            </div>
        {% endfor %}


        {% for object in survey.otherassets %}
            <div class="control">
                <div class="tags has-addons">
                    {% if object.type and object.action %}
                        <span class="tag is-dark">{{ object.action }}_{{ object.type }}</span>
                    {% elseif object.action %}
                        <span class="tag is-dark">{{ object.action }}</span>
                    {% elseif object.type %}
                        <span class="tag is-dark">{{ object.type }}</span>
                    {% endif %}

                    {% if (object.ae != null) and (object.ae != "XX") %}
                        <span class="icon-text tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">
                            <span class="icon is-small">
                                <i class="fas fa-plus-square"></i>
                            </span>
                            <span>{{ object.ae }}</span>
                        </span>
                    {% endif %}
                    {% if (object.as != null) and (object.as != "XX") %}
                        <span class="icon-text tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">
                            <span class="icon is-small">
                                <i class="fas fa-minus-square"></i>
                            </span>
                            <span>{{ object.as }}</span>
                        </span>
                    {% endif %}
                    <a class="tag is-delete ajax-remove-asset" href="{{ path('other_asset_del', {'position': object.position }) }}" title="Retiré cette action"></a>
                </div>
            </div>
        {% endfor %}

        {% for object in survey.otheractions %}
            <div class="control">
                <div class="tags has-addons">
                    {% if object.action %}
                        <span class="tag is-dark">{{ object.action }}</span>
                    {% endif %}

                    {% if object.asset != null %}
                        <span class="icon-text tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">{{ object.asset }}</span>
                    {% endif %}
                    <a class="tag is-delete ajax-remove-asset" href="{{ path('other_action_del', {'position': object.position }) }}" title="Retiré cette action"></a>
                </div>
            </div>
        {% endfor %}

        {% for object in survey.apps %}
            <div class="control">
                <div class="tags has-addons">
                    {% if object.action %}
                        <span class="tag is-dark">{{ object.action }}</span>
                    {% endif %}

                    {% if object.asset != null %}
                        <span class="icon-text tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">{{ object.asset }}</span>
                    {% endif %}
                    <a class="tag is-delete ajax-remove-asset" href="{{ path('app_del', {'position': object.position }) }}" title="Retiré cette action"></a>
                </div>
            </div>
        {% endfor %}

        {% for object in survey.otherapps %}
            <div class="control">
                <div class="tags has-addons">
                    {% if object.action %}
                        <span class="tag is-dark">{{ object.action }}</span>
                    {% endif %}

                    {% if object.asset != null %}
                        <span class="tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">{{ object.asset }}</span>
                    {% endif %}
                    <a class="tag is-delete ajax-remove-asset" href="{{ path('app_del', {'position': object.position }) }}" title="Retiré cette action"></a>
                </div>
            </div>
        {% endfor %}


    {% for object in survey.phones %}
        <div class="control">
            <div class="tags has-addons">
                {% if object.action %}
                    <span class="tag is-dark">{{ object.action }}</span>
                {% endif %}

                {% if object.asset != null %}
                    <span class="tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">{{ object.asset }}</span>
                {% endif %}
                <a class="tag is-delete ajax-remove-asset" href="{{ path('phone_del', {'position': object.position }) }}" title="Retiré cette action"></a>
            </div>
        </div>
    {% endfor %}

    {% for object in survey.cmdbs %}
        <div class="control">
            <div class="tags has-addons">
                {% if object.action %}
                    <span class="tag is-dark">{{ object.action }}</span>
                {% endif %}

                {% if object.asset != null %}
                    <span class="tag is-dark hostnames" title="Selectionnez un des champs 'Asset' et cliquer pour ajouter ce Hostname">{{ object.asset }}</span>
                {% endif %}
                <a class="tag is-delete ajax-remove-asset" href="{{ path('cmdb_del', {'position': object.position }) }}" title="Retiré cette action"></a>
            </div>
        </div>
    {% endfor %}

    {% for object in survey.rdvs %}
        <div class="control">
            <div class="tags has-addons">
                {% if object.balise %}
                    <span class="tag is-dark">{{ object.balise }}</span>
                {% endif %}
                <a class="tag is-delete ajax-remove-asset" href="{{ path('rdv_del') }}" title="Retiré cette action"></a>
            </div>
        </div>
    {% endfor %}


</div>
