
    {% if survey is defined %}
        {% if (survey.chemin is not empty) and (survey.chemin|length > 1) %}
            <div class="is-flex is-align-items-center px-4 py-4">
                <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                    <ul>
                        {% for url in survey.chemin %}
                            {% if loop.index == 1 %}
                                <li>
                                    <a href="{{ url }}" title="Cliquer pour changer le service">
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-home" aria-hidden="true"></i>
                                        </span>
                                        <span>Services</span>
                                    </a>
                                </li>
                            {% elseif url == '/methode'  %}
                                {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                    <a href="#">
                                {% else %}
                                    <li>
                                    <a href="{{ url }}" title="Cliquer pour changer la méthode d'intervention">
                                {% endif %}
                                <span class="icon is-small">
                                            <i class="fas fa-lg fa-laptop-house"></i>
                                        </span>
                                <span>Méthode d'intervention</span>
                                </a>
                                </li>
                            {% elseif url == '/type'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour changer l'objet de l'intervention">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-map-signs"></i>
                                        </span>
                                        <span>Task / Inct</span>
                                    </a>
                                </li>
                            {% elseif url == '/DEM/type'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour changer le type de la demande">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-tasks"></i>
                                        </span>
                                        <span>Type de demande</span>
                                    </a>
                                </li>
                            {% elseif url == '/INC/type'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour changer le type de l'incident">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-tools"></i>
                                        </span>
                                        <span>Type d'incident</span>
                                    </a>
                                </li>
                            {% elseif url == '/user-cmdb-dif'  %}
                                {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                    <a href="#">
                                {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique concordance demandeur/utilisateur final">
                                {% endif %}
                                            <div class="icon-text">
                                                <span>
                                                    <i class="fas fa-user"></i>
                                                </span>
                                                <span>=</span>
                                                <span>
                                                    <i class="fas fa-user-tag"></i>
                                                </span>
                                                <span>?</span>
                                            </div>
                                        </a>
                                    </li>
                            {% elseif url == '/ASSET'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique postes de travails">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-laptop"></i>
                                        </span>
                                        <span>Poste de travail</span>
                                    </a>
                                </li>
                            {% elseif url == '/ASSET-2'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique périphériques">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-desktop"></i>
                                        </span>
                                        <span>Autre périphérique</span>
                                    </a>
                                </li>
                            {% elseif url == '/AUTRE-ACTION-MATERIEL'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique autres actions matériel">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-server"></i>
                                        </span>
                                        <span>Autre action matériel</span>
                                    </a>
                                </li>
                            {% elseif url == '/LOGICIEL'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique logiciels">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fab fa-lg fa-microsoft"></i>
                                        </span>
                                        <span>Logiciel</span>
                                    </a>
                                </li>
                            {% elseif url == '/LOGICIEL-2'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique autres logiciels & accès">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-window-restore"></i>
                                        </span>
                                        <span>Autre logiciel & Accès</span>
                                    </a>
                                </li>
                            {% elseif url == '/TELEPHONIE'  %}
                                {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                    <a href="#">
                                {% else %}
                                    <li>
                                    <a href="{{ url }}" title="Cliquer pour revenir à la rubrique téléphonie">
                                {% endif %}
                                <span class="icon is-small">
                                    <i class="fas fa-lg fa-phone-alt"></i>
                                </span>
                                <span>Téléphonie</span>
                                </a>
                                </li>
                            {% elseif url == '/CMDB'  %}
                                {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                    <a href="#">
                                {% else %}
                                    <li>
                                    <a href="{{ url }}" title="Cliquer pour revenir à la rubrique CMDB">
                                {% endif %}
                                <span class="icon is-small">
                                    <i class="fas fa-lg fa-layer-group"></i>
                                </span>
                                <span>CMDB</span>
                                </a>
                                </li>
                            {% elseif url == '/RDV'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique rendez-vous">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-calendar-alt"></i>
                                        </span>
                                        <span>Rendez-vous</span>
                                    </a>
                                </li>
                            {% elseif url == '/COMMENTAIRE'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique commentaire">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-comment-dots"></i>
                                        </span>
                                        <span>Commentaire</span>
                                    </a>
                                </li>
                            {% elseif url == '/CODE-FINAL'  %}
                                    {% if loop.index == (survey.chemin|length) %}
                                    <li class="is-active" title="Vous vous trouvé actuellement ici">
                                        <a href="#">
                                    {% else %}
                                    <li>
                                        <a href="{{ url }}" title="Cliquer pour revenir à la rubrique code final">
                                    {% endif %}
                                        <span class="icon is-small">
                                            <i class="fas fa-lg fa-tag"></i>
                                        </span>
                                        <span>Code final</span>
                                    </a>
                                </li>
                            {% elseif loop.index == (survey.chemin|length) and url != '/CODE-FINAL'  %}
                                <li><a href="#">{{ url }}</a></li>
                            {% else %}
                                <li><a href="{{ url }}" title="Cliquer pour revenir ici">{{ url }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}

    {% endif %}
