<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="N_KLIKDoMh-B--60g4igKeIsKAlZpBrxyDzhJYWW54A" />
    <meta name="author" content="Christian BOUNGOU | chrisBdev">
    <title>{% block title %}Arbre de clôture v1.9{% endblock %}</title>
    <meta name="description" content="{% block description %}scc-tool.com contient l'outil dit 'Arbre de clôture' pour les services de proximités (SDP) de l'entreprise SCC présents sur les comptes client SAFRAN{% endblock %}">
    <meta name="keywords" content="{% block keyswords %}Arbre de clôture, SCC, SAFRAN, SNOW, Service Now, SDP, Support informatique, SDS, SAE, SLS, scc-tool{% endblock %}">
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
{#    <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>#}
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="has-navbar-fixed-top is-relative">

<div class="bg-layer hero is-bold is-info">
</div>

<nav class="navbar is-light has-text-black is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('home') }}">
            <div class="field is-grouped is-justify-content-center">
                <figure class="is-flex is-justify-content-center is-align-items-center control">
                    <img width="100" height="100" src="{{ asset('build/images/sitelogo_SCC.9f1fb72d.png') }}" alt="" style="width: 124px">
                </figure>
                <p class="control is-flex is-align-items-center">
                    <b>Arbre de clôture | v1.9</b>
                </p>
            </div>
        </a>
    </div>

    {% if app.user %}
    <div class="navbar-end has-text-centered">
        <div class="navbar-item">
            <div class="tags has-addons is-justify-content-center">
                    <span class="tag is-white is-medium ">
                        {{ app.user.username }}
                    </span>
                    <a href="{{ path('app_logout') }}" class="tag button is-danger is-medium ">
                        <span class="icon">
                            <i class="fas fa-door-open"></i>
                        </span>
                    </a>
            </div>
        </div>
    </div>
    {% endif %}

</nav>

<div class="column has-text-centered-mobile">
    <a href="{{ path('home') }}" class="button">
        <span class="icon">
            <i class="fas fa-lg fa-home"></i>
        </span>
        <span>
            Revenir à l'accueil
        </span>
    </a>
</div>

{{ include('includes/flash_message.html.twig') }}

<section class="is-fullheight is-flex is-justify-content-center is-align-items-center section-base-html">
{#    <img class="safran-backgound-img" src="{{ asset('build/images/1200px-Safran_-_logo_2016.f3a8e511.png') }}" alt="">#}
    <div class="column is-flex-desktop is-align-items-center is-justify-content-center">
        {% block body %}{% endblock %}
    </div>
</section>

{% block footer %}
    <footer class="footer">
        <div class="content has-text-centered is-relative">
            <img class="safran-backgound-img" src="{{ asset('build/images/1200px-Safran_-_logo_2016.f3a8e511.png') }}" alt="">
        </div>
    </footer>
{% endblock %}


    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function checkRadio(radio){
                let thisRadio = radio.querySelector('.radio-select');
                thisRadio.checked = true;
            }
        </script>






        {#        SCRIPT POUR VERIF NOMBRE DANS FORMULAIRE          #}
        <script>

            let tpxInput = document.querySelectorAll('input.tpx');
            tpxInput.forEach(function (element) {
                element.onkeyup = function () {
                    verif_nombre(element);
                    verif_nombre_max(element, 3)
                }
            });

            function verif_nombre(champ)
            {
                var chiffres = new RegExp("[0-9]");
                var verif;
                var points = 0;

                for(x = 0; x < champ.value.length; x++)
                {
                    verif = chiffres.test(champ.value.charAt(x));
                    if(champ.value.charAt(x) === "."){points++;}
                    if(points > 1){verif = false; points = 1;}
                    if(verif === false || !champ.value){champ.value = champ.value.substr(0,x) + champ.value.substr(x+1,champ.value.length-x+1); x--;}
                }
            }

            function verif_nombre_max(champ, max){

                let x = champ.value;
                let xsub = x.toString().substr(0,max);
                champ.value = xsub;

            }
        </script>
        {#        FIN DU SCRIPT         #}









        {#               SCRIPT POUR AJAX                   #}
        <script>

            function removeAsset(event){
                let assetTag = event.target.parentElement.parentElement;
                if (assetTag.parentNode) {
                    assetTag.parentNode.removeChild(assetTag);
                }
                event.preventDefault();

                const url = this.href;

                axios.get(url).then(function (response) {

                })
            }

            let removeBtn = document.querySelectorAll('a.ajax-remove-asset').forEach(function (link){
                link.addEventListener('click' || 'touchstart', removeAsset);
            });




            function addAsset(event){

                event.preventDefault();

                const url = this.action;
                const formData = $(this).serialize();

                axios.post(url,formData).then(function (response) {
                    let datas = response.data;

                    if (datas.position <= 10){
                        let container = document.querySelector('#asset-tags-grouped');

                        container.innerHTML += "<div class=\"control\">\n" +
                            "                     <div class=\"tags has-addons\">\n" +
                            "                        </div>\n" +
                            "                    </div>";
                        let balises1 = [];
                        let balises2 = [];
                        let onlyOne = true;
                        let onlyAsset = true;
                        let ae = '';
                        let as = '';

                        if (datas.hasOwnProperty('ae')) {
                            onlyAsset = false;
                        }
                        for (const property in datas) {
                            if ( property === 'url_for_delete' || property === 'position' || datas[property] === 'N/A' || datas[property] === null ) {
                            }else if (property === 'action' || property === 'type') {
                                balises1.push(datas[property]);
                            } else if (property === 'maximum'){
                                console.log(datas[property])
                            } else {
                                if (property === 'ae'){
                                    ae = datas[property];
                                } else if (property === 'as') {
                                    as = datas[property];
                                }
                                balises2.push(datas[property]);
                            }
                        }

                        balises2.forEach(function (element, key) {
                            if (balises2.length > 1){
                                if (element !== 'N/A') {
                                    onlyOne = false;
                                }
                            }
                            return onlyOne;
                        });

                        let urlForDelete = datas.url_for_delete;

                        if (balises1.length === 1){
                            container.lastElementChild.firstElementChild.innerHTML += "<span class=\"tag is-dark\">"+ balises1[0] +"</span>"
                        }else if (balises1.length === 2){
                            container.lastElementChild.firstElementChild.innerHTML += "<span class=\"tag is-dark\">"+ balises1[0] +"_"+ balises1[1] +"</span>"
                        }

                        balises2.forEach(function (element, key) {
                            if (element !== 'N/A'){
                                if (key === 0){
                                    if ( onlyOne && onlyAsset){
                                        container.lastElementChild.firstElementChild.innerHTML += "<span class=\"icon-text tag is-dark\">\n" +
                                            "                                                           <span>"+ element +"</span>\n" +
                                            "                                                   </span>"
                                    }else {
                                        if (element == ae){
                                            container.lastElementChild.firstElementChild.innerHTML += "<span class=\"icon-text tag is-dark\">\n" +
                                                "                                                           <span class=\"icon is-small\">\n" +
                                                "                                                               <i class=\"fas fa-plus-square\"></i>\n" +
                                                "                                                           </span>\n" +
                                                "                                                           <span>"+ element +"</span>\n" +
                                                "                                                   </span>"
                                        } else if (element == as){
                                            container.lastElementChild.firstElementChild.innerHTML += "<span class=\"icon-text tag is-dark\">\n" +
                                                "                                                           <span class=\"icon is-small\">\n" +
                                                "                                                               <i class=\"fas fa-minus-square\"></i>\n" +
                                                "                                                           </span>\n" +
                                                "                                                           <span>"+ element +"</span>\n" +
                                                "                                                   </span>"
                                        }

                                    }
                                }else if (key === 1){
                                    container.lastElementChild.firstElementChild.innerHTML += "<span class=\"icon-text tag is-dark\">\n" +
                                        "                                                           <span class=\"icon is-small\">\n" +
                                        "                                                               <i class=\"fas fa-minus-square\"></i>\n" +
                                        "                                                           </span>\n" +
                                        "                                                           <span>"+ balises2[1] +"</span>\n" +
                                        "                                                   </span>"
                                }

                            }
                        });

                        container.lastElementChild.lastElementChild.innerHTML += "<a class=\"tag is-delete ajax-remove-asset new-delete-btn\" href="+ urlForDelete +" title=\"Retiré cette action\"></a>"

                        let deleteBtn = document.querySelectorAll('.ajax-remove-asset');
                        // console.log(deleteBtn);
                        deleteBtn.forEach(function (element) {
                            element.addEventListener('click' || 'touchstart', removeAsset);
                        });

                        let removeBtn = document.querySelectorAll('a.ajax-remove-asset').forEach(function (link){
                            link.addEventListener('click' || 'touchstart', removeAsset);
                        });
                    }

                });

            }

            let ajaxForm = document.querySelectorAll('form.ajax-add-asset');

            ajaxForm.forEach(function (form) {
                form.addEventListener('submit', addAsset);
            })

        </script>
        {#        FIN DU SCRIPT         #}

    {% endblock %}
</body>
</html>
