<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-site-verification" content="N_KLIKDoMh-B--60g4igKeIsKAlZpBrxyDzhJYWW54A" />
    <meta name="author" content="Christian BOUNGOU | chrisBdev">
    <title>{% block title %}Arbre de clôture v1.9{% endblock %}</title>
    <meta name="description" content="{% block description %}scc-tool.com contient l'outil dit 'Arbre de clôture' pour les services de proximités (SDP) de l'entreprise SCC présents sur les comptes client SAFRAN{% endblock %}">
    <meta name="keywords" content="{% block keyswords %}Arbre de clôture, SCC, SAFRAN, SNOW, Service Now, SDP, Support informatique, SDS, SAE, SLS, scc-tool{% endblock %}">
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
{#    <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>#}
    <script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="has-navbar-fixed-top">

<nav class="navbar is-light has-text-black is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('home') }}">
            <div class="field is-grouped is-justify-content-center">
                <figure class="is-flex is-justify-content-center is-align-items-center control">
                    <img width="100" height="100" src="{{ asset('build/images/sitelogo_SCC.9f1fb72d.png') }}" alt="" style="width: 124px">
                </figure>
                <p class="control is-flex is-align-items-center">
                    <b>Arbre de clôture | v1.9</b>
                </p>
            </div>
        </a>
    </div>

    {% if app.user %}
    <div class="navbar-end has-text-centered">
        <div class="navbar-item">
            <div class="tags has-addons is-justify-content-center">
                    <span class="tag is-white is-medium ">
                        {{ app.user.username }}
                    </span>
                    <a href="{{ path('app_logout') }}" class="tag button is-danger is-medium ">
                        <span class="icon">
                            <i class="fas fa-door-open"></i>
                        </span>
                    </a>
            </div>
        </div>
    </div>
    {% endif %}

</nav>

{{ include('includes/flash_message.html.twig') }}

<section class="is-fullheight is-flex is-justify-content-center is-align-items-center section-base-html">
    <img class="safran-backgound-img" src="{{ asset('build/images/1200px-Safran_-_logo_2016.f3a8e511.png') }}" alt="">
    <div class="column is-flex-desktop is-align-items-center is-justify-content-center">
        {% block body %}{% endblock %}
    </div>
</section>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            function checkRadio(radio){
                let thisRadio = radio.querySelector('.radio-select');
                thisRadio.checked = true;
            }
        </script>

        {#               SCRIPT POUR AJAX                   #}
        <script>

            function removeAsset(event){
                let assetTag = event.target.parentElement.parentElement;
                // assetTag.style.display = 'none';
                if (assetTag.parentNode) {
                    assetTag.parentNode.removeChild(assetTag);
                }
                event.preventDefault();

                const url = this.href;

                axios.get(url).then(function (response) {

                })
            }

            let removeBtn = document.querySelectorAll('a.ajax-remove-asset').forEach(function (link){
                link.addEventListener('click' || 'touchstart', removeAsset);
            });




            function addAsset(event){

                event.preventDefault();

                const url = this.action;
                const formData = $(this).serialize();


                axios.post(url,formData).then(function (response) {
                    let container = document.querySelector('#asset-tags-grouped');
                    let datas = response.data;
                    let arrayDatas = [];
                    for (const property in datas) {
                        // console.log(`${property}: ${datas[property]}`);
                        if ( (datas[property] !== null) ){
                            let action = datas[property];
                            arrayDatas.push(action);
                        }
                    }

                    arrayDatas.splice(arrayDatas.length-1, 1);

                    console.log(arrayDatas);

                    let urlForDelete = datas.url_for_delete;

                    container.innerHTML += "<div class=\"control\">\n" +
                        "                     <div class=\"tags has-addons\">\n" +
                        "                        </div>\n" +
                        "                    </div>";

                    if (arrayDatas.length === 1){
                        container.lastElementChild.firstElementChild.innerHTML += "<span class=\"tag is-light\">"+ arrayDatas[0] +"</span>"
                    }else if (arrayDatas.length === 2){
                        container.lastElementChild.firstElementChild.innerHTML += "<span class=\"tag is-light\">"+ arrayDatas[0] +"_"+ arrayDatas[1] +"</span>"
                    }else{
                        arrayDatas.forEach(function (element, key) {
                            if (element !== 'N/A'){
                                if (key === 0){
                                    container.lastElementChild.firstElementChild.innerHTML += "<span class=\"tag is-light\">"+ arrayDatas[0] +"_"+ arrayDatas[1] +"</span>"
                                }else if (key === 2){
                                    container.lastElementChild.firstElementChild.innerHTML += "<span class=\"tag is-primary\">"+ element +"</span>"
                                }else if (key === 3){
                                    container.lastElementChild.firstElementChild.innerHTML += "<span class=\"tag is-danger\">"+ element +"</span>"
                                }
                            }
                        });
                    }

                    container.lastElementChild.lastElementChild.innerHTML += "<a class=\"tag is-delete ajax-remove-asset\" href="+ urlForDelete +" title=\"Retiré cette action\"></a>"

                });

            }

            let ajaxForm = document.querySelectorAll('form.ajax-add-asset');

            ajaxForm.forEach(function (form) {
                form.addEventListener('submit', addAsset);
            })

        </script>


    {% endblock %}
</body>
</html>
