{% extends 'base.html.twig' %}

{% block title %}Hello AskUserController!{% endblock %}

{% block body %}

                <div class="column is-flex is-align-items-center is-justify-content-center is-two-fifths-desktop" style="height: 50%">
                    <div class="box" style="height: 100%;width: 100%">
{#                        Intervention : {{ type }}<br>#}
                        Suite à incident : {{ from_inct }}<br>
                        Type d'asset : {{ asset_type }}<br>
                    </div>
                </div>

                {{ form_start(asset_type_field_form, {'attr' : {'class' : 'column is-flex-desktop is-justify-content-center is-two-fifths-desktop', 'style' : 'height:50%'} }) }}

                    <div class="field column">
                        <label class="label" for="last_name">Veuillez selectionner le type du matériel concerné</label>

                        <div class="is-flex">
                            <div class="control" style="flex: 1;margin-right: 1rem;">
                                <div class="select is-info is-fullwidth">
                                    {{ form_widget(asset_type_field_form.assetType, {'attr' : {'class' : '', 'placeholder' : 'Type de l\'intervention', 'name' : 'type'} } ) }}
                                </div>
                            </div>

                            <button class="button is-info">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>


                    </div>


                {{ form_end(asset_type_field_form) }}

{% endblock %}


