{% extends 'base.html.twig' %}

{% block title %}Hello AskUserController!{% endblock %}

{% block body %}

        <div class="column is-flex is-align-items-center is-justify-content-center  is-two-fifths-desktop" style="height: 50%">
            <div class="box is-flex is-flex-direction-column" style="height: 100%;width: 100%">
                Suite à incident : {{ from_inct }}<br>
                Type d'asset : {{ asset_type }}<br>
                Intervention : {{ intervention }}<br>
                Nouvel arrivant : ?<br>
            </div>

        </div>


        {{ form_start(form, {'attr' : {'class' : 'column is-flex-desktop is-justify-content-center is-two-fifths-desktop', 'style' : 'height:50%'} }) }}

        <div class="field column">
            <label class="label" for="last_name">S'agit-il d'un nouvel arrivant ?</label>

            <div class="is-flex">
                <div class="control" style="flex: 1;margin-right: 1rem;">
                    <div class="select is-info is-fullwidth">
                        {{ form_widget(form.new_user, {'attr' : {'class' : '', 'placeholder' : 'Type de l\'intervention', 'name' : 'type'} } ) }}
                    </div>
                </div>

                <button class="button is-info">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>


        </div>

        {{ form_end(form) }}

{% endblock %}


